* {
    box-sizing: border-box;
}

.calc {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 22rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 
                0px 3px 6px 0px rgba(0, 0, 0, 0.12);
}

.display__wrap {
    height: 100%;
}

.calc__display {
    background-color: hsl(205, 6%, 39%); 
    color: hsl(255, 100%, 100%); 
    height: 100%;
    padding: .25rem .75rem .25rem 0;
    text-align: right;
}

.calc__buttons {
    background: hsl(208, 83%, 47%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    height: 100%;
}

.calc__button {
    border-radius: 10%;
}

.calc__button:active,
.calc__button:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4) inset;
  outline: none;
}

.calc__button--operator {
    background: hsl(253, 96%, 79%);
}

.calc__button--enter {
    background: hsl(160, 91%, 66%);
    grid-column: 4 / 5; /* Start at column #4 and end at column #5 (the very right edge). */
    grid-row: 2 / span 4; /* Start at row #2 and span 4 rows */
}